<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020704653531-idgl9tm7jh5k0ras9b3tvo8fdm5p5u3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020704653531-idgl9tm7jh5k0ras9b3tvo8fdm5p5u3i</string>
	<key>API_KEY</key>
	<string>AIzaSyACADBo8KZDWX1-yj1i83FtvcW92ESQXAo</string>
	<key>GCM_SENDER_ID</key>
	<string>1020704653531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbvalley.mfinity.sns</string>
	<key>PROJECT_ID</key>
	<string>sns-dbvalley</string>
	<key>STORAGE_BUCKET</key>
	<string>sns-dbvalley.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020704653531:ios:e2b5284ce717360a554cfe</string>
	<key>DATABASE_URL</key>
	<string>https://sns-dbvalley.firebaseio.com</string>
</dict>
</plist>