<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906429917595-ontg36esni7sdma9dn9ahbemvtistinr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906429917595-ontg36esni7sdma9dn9ahbemvtistinr</string>
	<key>API_KEY</key>
	<string>AIzaSyA3YJjVW7tBbM8UVeT_X1LPS8kVU7Bh8Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>906429917595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hwashin.mfinity</string>
	<key>PROJECT_ID</key>
	<string>hwashin-mfinity</string>
	<key>STORAGE_BUCKET</key>
	<string>hwashin-mfinity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906429917595:ios:35de2da2a388224b6e193e</string>
	<key>DATABASE_URL</key>
	<string>https://hwashin-mfinity.firebaseio.com</string>
</dict>
</plist>