<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469937542218-jp6b1oa5joikl22kl1rb2o2q09btkei0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469937542218-jp6b1oa5joikl22kl1rb2o2q09btkei0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469937542218-g1egq5e71a2pukpgqavcge3gqql0q49u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzwRonhKWN-uGSzZXiLYo30ohbUEhUHVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>469937542218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hhi.mobile.ios.sns</string>
	<key>PROJECT_ID</key>
	<string>mfinity-24a83</string>
	<key>STORAGE_BUCKET</key>
	<string>mfinity-24a83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469937542218:ios:d8f5bb8d01ccd8e32502b3</string>
	<key>DATABASE_URL</key>
	<string>https://mfinity-24a83.firebaseio.com</string>
</dict>
</plist>