<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350448989363-8fkul3cu52af637vr57fqop8hi7cnqq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350448989363-8fkul3cu52af637vr57fqop8hi7cnqq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAVMlkwQ0JOuM80tvSo0uvpuiyTI_0El4M</string>
	<key>GCM_SENDER_ID</key>
	<string>350448989363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hhi.mobile.ios.mfinity</string>
	<key>PROJECT_ID</key>
	<string>hhi-touchone</string>
	<key>STORAGE_BUCKET</key>
	<string>hhi-touchone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350448989363:ios:678ceeaf9f6da01cceacc6</string>
	<key>DATABASE_URL</key>
	<string>https://hhi-touchone.firebaseio.com</string>
</dict>
</plist>